server/src/main/resources/FlightInformation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://online.bhx.co.uk/flightinformation" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://online.bhx.co.uk/flightinformation" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://online.bhx.co.uk/flightinformation">
            <s:element name="BFGetFlights">
                <s:complexType />
            </s:element>
            <s:element name="BFGetFlightsResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="BFGetFlightsResult" type="tns:ArrayOfFlightRecord" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ArrayOfFlightRecord">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="FlightRecord" nillable="true" type="tns:FlightRecord" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="FlightRecord">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="FlightNumber" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="Origin" type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="ScheduledTime" type="s:dateTime" />
                    <s:element minOccurs="0" maxOccurs="1" name="Terminal" type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="Passengers" type="s:int" />
                    <s:element minOccurs="1" maxOccurs="1" name="Transits" type="s:int" />
                    <s:element minOccurs="1" maxOccurs="1" name="Capacity" type="s:int" />
                    <s:element minOccurs="1" maxOccurs="1" name="EstimatedTime" type="s:dateTime" />
                    <s:element minOccurs="1" maxOccurs="1" name="TouchdownTime" type="s:dateTime" />
                    <s:element minOccurs="1" maxOccurs="1" name="EstimatedChoxTime" type="s:dateTime" />
                    <s:element minOccurs="1" maxOccurs="1" name="ChoxTime" type="s:dateTime" />
                    <s:element minOccurs="0" maxOccurs="1" name="Gate" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="Stand" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="Belt" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="Runway" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="FlightStatus" type="s:string" />
                </s:sequence>
            </s:complexType>
            <s:element name="BFGetScheduledFlights">
                <s:complexType />
            </s:element>
            <s:element name="BFGetScheduledFlightsResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="BFGetScheduledFlightsResult" type="tns:ArrayOfScheduledFlightRecord" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ArrayOfScheduledFlightRecord">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="ScheduledFlightRecord" nillable="true" type="tns:ScheduledFlightRecord" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="ScheduledFlightRecord">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="FlightNumber" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="Origin" type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="ScheduledTime" type="s:dateTime" />
                    <s:element minOccurs="0" maxOccurs="1" name="Terminal" type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="Passengers" type="s:int" />
                    <s:element minOccurs="1" maxOccurs="1" name="Transits" type="s:int" />
                    <s:element minOccurs="1" maxOccurs="1" name="Capacity" type="s:int" />
                </s:sequence>
            </s:complexType>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="BFGetFlightsSoapIn">
        <wsdl:part name="parameters" element="tns:BFGetFlights" />
    </wsdl:message>
    <wsdl:message name="BFGetFlightsSoapOut">
        <wsdl:part name="parameters" element="tns:BFGetFlightsResponse" />
    </wsdl:message>
    <wsdl:message name="BFGetScheduledFlightsSoapIn">
        <wsdl:part name="parameters" element="tns:BFGetScheduledFlights" />
    </wsdl:message>
    <wsdl:message name="BFGetScheduledFlightsSoapOut">
        <wsdl:part name="parameters" element="tns:BFGetScheduledFlightsResponse" />
    </wsdl:message>
    <wsdl:portType name="FlightInformationSoap">
        <wsdl:operation name="BFGetFlights">
            <wsdl:input message="tns:BFGetFlightsSoapIn" />
            <wsdl:output message="tns:BFGetFlightsSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="BFGetScheduledFlights">
            <wsdl:input message="tns:BFGetScheduledFlightsSoapIn" />
            <wsdl:output message="tns:BFGetScheduledFlightsSoapOut" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="FlightInformationSoap" type="tns:FlightInformationSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="BFGetFlights">
            <soap:operation soapAction="http://online.bhx.co.uk/flightinformation/BFGetFlights" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="BFGetScheduledFlights">
            <soap:operation soapAction="http://online.bhx.co.uk/flightinformation/BFGetScheduledFlights" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="FlightInformationSoap12" type="tns:FlightInformationSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="BFGetFlights">
            <soap12:operation soapAction="http://online.bhx.co.uk/flightinformation/BFGetFlights" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="BFGetScheduledFlights">
            <soap12:operation soapAction="http://online.bhx.co.uk/flightinformation/BFGetScheduledFlights" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="FlightInformation">
        <wsdl:port name="FlightInformationSoap" binding="tns:FlightInformationSoap">
            <soap:address location="https://online.bhx.co.uk/flightinformationservice/FlightInformation.asmx" />
        </wsdl:port>
        <wsdl:port name="FlightInformationSoap12" binding="tns:FlightInformationSoap12">
            <soap12:address location="https://online.bhx.co.uk/flightinformationservice/FlightInformation.asmx" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>